  {% load static%}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,500;0,700;0,800;1,200;1,400;1,600;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,500;0,700;0,800;1,200;1,400;1,600;1,900&family=Noto+Kufi+Arabic:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Crimson Pro', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Crimson Pro', serif;
font-family: 'Noto Kufi Arabic', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #fd7e14;
  --secondary: #F5F5F5;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #FFFFFF;
  --dark: #3D464D;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6C757D;
  text-align: left;
  background-color: #F5F5F5;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: bolder;
}


a {
  text-decoration: none;
}



img {
  vertical-align: middle;
  border-style: none;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #3D464D;
}

h1, .h1 {
  font-size: 2.5rem;
}

@media (max-width: 1200px) {
  h1, .h1 {
    font-size: calc(1.375rem + 1.5vw) ;
  }
}

h2, .h2 {
  font-size: 2rem;
}

@media (max-width: 1200px) {
  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw) ;
  }
}

h3, .h3 {
  font-size: 1.75rem;
}

@media (max-width: 1200px) {
  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw) ;
  }
}

h4, .h4 {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}


.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;

}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.row-cols-1 > * {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.row-cols-4 > * {
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}



@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    margin-top: 10px;
  }
  .col-lg-4-0{
    font-size: 25px;
  }
  .col-lg-4-1{
    margin-top: -15px;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    order: -1;
  }
  .order-lg-last {
    order: 13;
  }
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-10 {
    order: 10;
  }
  .order-lg-11 {
    order: 11;
  }
  .order-lg-12 {
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}


.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #6C757D;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #6C757D;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #fff3c6;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #ffe895;
}

.table-hover .table-primary:hover {
  background-color: #ffeead;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #ffeead;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #fcfcfc;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #fafafa;
}

.table-hover .table-secondary:hover {
  background-color: #efefef;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #efefef;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c3e6cb;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #8fd19e;
}

.table-hover .table-success:hover {
  background-color: #b1dfbb;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #b1dfbb;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #bee5eb;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #86cfda;
}

.table-hover .table-info:hover {
  background-color: #abdde5;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #abdde5;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffeeba;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #ffdf7e;
}

.table-hover .table-warning:hover {
  background-color: #ffe8a1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #ffe8a1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f5c6cb;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #ed969e;
}

.table-hover .table-danger:hover {
  background-color: #f1b0b7;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f1b0b7;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: white;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: white;
}

.table-hover .table-light:hover {
  background-color: #f2f2f2;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #f2f2f2;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c9cbcd;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #9a9fa2;
}

.table-hover .table-dark:hover {
  background-color: #bcbec1;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #bcbec1;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.table-dark {
  color: #fff;
  background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #454d55;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

.table-responsive > .table-bordered {
  border: 0;
}


.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.bg-light {
  background-color: #FFFFFF !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #fd7e14 !important;
}

.border-secondary {
  border-color: #F5F5F5 !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #FFFFFF !important;
}

.border-dark {
  border-color: #3D464D !important;
}

.border-white {
  border-color: #fff !important;
}

.rounded-sm {
  border-radius: 0.2rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-lg {
  border-radius: 0.3rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}



@media (min-width: 200px) {
  .d-lg-flex {
    display: flex !important;
  }
}






.mr-3{
  margin-right: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
}


.py-3 {
  padding-bottom: 1rem !important;
}

.text-body {
  color: #6C757D  !important;
}


/********** Custom CSS ************/
.h1, h2, h3 {
  font-weight: 700 !important;
}

.h4, h5, h6 {
  font-weight: 500 !important;
}
.p-30 {
  padding: 30px;
}
#flex-section{
  width: 100%;
  height: auto;
  display: flex;
  background: linear-gradient(to bottom, #33ccff 0%, #cc99ff 100%);
}
#flex-section .side-menu{
  width: 60%;
  min-height: 85vh;
}
#flex-section .side-menu .my-brand-name{
  margin-top: 25%;
  margin-left: 20%;
  align-items: center;
  justify-content: center;
}

#flex-section .side-menu .my-brand-name h6{
font-size: 16px;
}
#flex-section .side-menu .my-brand-name h2{
  font-size: 36px;
  }

#flex-section .side-menu .ul{
  align-items: center;
  margin-right: 15%;
}

#flex-section .container{
    width: 100%;
    margin-bottom: 0px;
}
#flex-section .container .table{
  background: white;
  margin-top: 15%;
  margin-right: 15%;
  box-shadow: 10px 10px 5px blanchedalmond;
  border-radius: 12px;
}

#flex-section .container .row{
  margin-top: 400px;
}

.btn {
  border: none;
  color: white;
  padding-top: 8px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 16px 2px;
  margin-left: 35px;
  cursor: pointer;
  border-radius: 42px;
  width: 60%;
  height: 30%;
  transition: 0.7s ease;
}
.button1:hover{
  transform: scale(1.1);
  background-color:#3ff05c;
}
.button2:hover{
  transform: scale(1.1);
  background-color:rgb(255, 67, 67);
}
.btn b{
  font-size: 30px;
}

.button1 {background-color: #1de23d;} /* Green */
.button2 {background-color: red;} /* Blue */
.button3 {
  background-color: orange;
  border-radius: 22px;
  margin-top: 5px;
  min-width: 100px;
} /* Blue */

.d0{
margin-left: 2%;
font-size: 16px;
}
.d1{
  font-size: 22px;
  margin-top: 24px;
}

.d2{
  font-size: 19px;
  margin-left: 6%;
  margin-top: 26px;
}
.d2 a{
  margin: 0px 3px 5px 4px;
}

.under-table
{
  top:90%;
  margin-left: 10%;
  display: inline-block;
  padding-top: 20px;
  font-size: 35px;
  padding-bottom: 15px;
}
.arb{
  display: inline-block;
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-size: 28px;
}

.myDiv{
  margin: 0;
  top: 0;
  margin-left: 14%;
  margin-top: 10%;
  height: 30%;
  width: 90%;
}



@media (max-width:1130px)
{
  .row159{
    display: none ;
  }
  .my-brand-name h2{
    font-size: 28px;
  }
  .under-table {

    font-size: 36px;
  }
}

@media (max-width:950px)
{
  .my-brand-name h2{
    font-size: 28px;
  }
  .under-table {

    font-size: 25px;
  }
}

@media (max-width:720px)
{
  .my-brand-name h2{
    font-size: 15px;
  }
  .under-table {

    font-size: 20px;
  }
}

@media (max-width:720px)
{
  .my-brand-name h2{
    font-size: 14px;
  }
  .under-table {

    font-size: 20px;
  }
}

@media (max-width: 661px)
{
  .my-brand-name h2{
    font-size: 11px;
    padding-right: 2px;
  }
  .under-table {

    font-size: 100%;
    margin-top: 10px;
  }
  .flex-section{
    flex-direction: row;
  }
  .d1{
    align-items: center;
    margin-left: 20%;
  }
  .d2{
    margin-left: 10%;
  }
  .footer .a .p{
    font-size: 10px;
  }
  .flex-section .side-menu .h2{
    font-size: 8px;
  }
  .side-menu{
    font-size: 10px;
  }
  .side-menu, .btn {
    font-size: 12px;
    align-items: center;
    align-content: center;
  }
  .button1{
    font-size: 20px;
  }
  .table-responsive{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 80%;

  }
  .flex-section, .side-menu .myDiv .btn{
    font-size: 10px;
  }

  .btn{
    padding: 6px 2px;
    width: 50%;
  }



}

.footer-a{
  margin-left:95%;
}


@media (max-width: 500px)
{
  .container{
    display: none;
  }
  .row159{
    display: none ;
  }
  .footer-a{
    margin-left:70%;
  }
  .my-brand-name h2{
    font-size: 39px;
    justify-content:center ;
    margin-top: -6px;
    padding-right: 0px;
  }
  .my-brand-name h6{
    font-size: 19px;
    margin-top: -6px;
    padding-right: 0px;
  }
  .under-table {

    font-size: 85%;
    margin-top: 10px;
  }
  .flex-section{
    flex-direction: row;
  }
  .d1{
    align-items: center;
    margin-left: 5%;
  }
  .d2{
    font-size: 12px;
  }
  .footer .a .p{
    font-size: 10px;
  }
  .flex-section .side-menu .h2{
    font-size: 8px;
  }
  .side-menu{
    width:100%;
    flex-grow: 2;
  }
  .side-menu, .btn {
    font-size: 12px;
    align-items: center;
    align-content: center;
  }
  .button1{
    font-size: 10px;
  }
  .table-responsive{
    font-size: 14px;
    max-width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;


      }
.side-menu .myDiv .btn{
    font-size: 10px;
  }

  .container{
    margin-left: 10px;
  }

  .my-brand-name{
    margin-left: 10px;
  }
  .btn{
    padding: 6px 2px;
    width: 60%;
  }

}


@media (max-width:732px)
{
  .d1{
    font-size: 20px;
  }
  .d2{
    align-items: center;
    margin-left: 20px;
  }
}

@media (max-width:1162px)
{
  .d2{
  margin-left: 5%;
  margin-top: 18px;
}

 .d1{
    margin-left: -10%;
  }

}

@media (max-width:992px)
{
  .d2{
  margin-left: 5%;
  margin-top: 18px;
}

 .d1{
    margin-left: 10%;
  }

}

@media (max-width:775px)
{
  .d2{
  margin-left: 10%;
  margin-top: 18px;
}

 .d1{
    margin-left: 10%;
  }

}
.d2 .p {
margin-top:-3px;
color:red  !important;
font-size:25px;
margin-left:20px;
font-weight:700;
transition: 0.7s ease;

}
.p:hover{
transform: scale(1.1)
}
</style>
<div class="container-fluid">
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="d0 col-lg-4">
                <p class="col-lg-4-0" style="font-size: 32px;"><font color="red">ALIBAK</font>.<font color="BLUE">EX</font></p>
                <p class="col-lg-4-1">Invester.Acheter.Vendre</p>
            </div>
            <div class="d1 d-inline-flex align-items-center" >
                    <a class="text-body mr-3" href=""> <b>EUR</b></a>
                    <a class="text-body mr-3" href=""> <b>USD</b></a>
                    <a class="text-body mr-3" href=""> <b>CAD</b></a>
                    <a class="text-body mr-3" href=""> <b>POUND</b></a>
                    <a class="text-body mr-3" href=""> <b>USD</b></a>
            </div>

            <div class="d2 d-inline-flex align-items-center" >
                    <a class="text-body mr-3" href="{% url 'OffersPage'%}">Offres</a>
                    {% if request.user.customer.approved %}
                    <a class="text-body mr-3" href="{% url 'my_offers'%}">Tes offres</a>
                    {% else %}
                    <a class="text-body mr-3" href="{% url 'settings'%}">Paramètres</a>
                    {% endif %}
                    <a class="text-body mr-3" href="#footer">Contact</a>
                    <a class="text-body mr-3 p" href="{% url 'logout' %}" style="text-decoration:none">LOG OUT</a>

            </div>

        </div>
    </div>